/*body{
	background-color: #9a74cf;
	
}*/


#box1{
	width: 200px;
	height: 200px;
	background-color: lightblue;
	position: sticky;
	top: 0px;

}
#box2{
	width: 100px;
	height: 100px;
	background-color: maroon;
	position: absolute;
	top: 50px;
	left: 50px;
}